@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-box-shadow {
    box-shadow: 1px 1px 10px #94a3b8;
  }

  .my-clip {
    clip-path: polygon(0% 15.25%, 100% 0%, 100% 100%, 0% 100%);
  }
  .rotated {
    transform: scale(1) perspective(1140px) rotateY(-11deg) rotateX(2deg)
      rotate(2deg);
  }
}
